body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRIy0NUSE83QEjmgrjqOdsxPp78no1yGT39LB9nsHDBWw4Sa3AIpaFafgDSwyHwrmpI1dY&usqp=CAU);
  color: #007bff;
  font-family: Arial, sans-serif;
  
}

.container {
  text-align: center;
  color: black;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  background-color:grey

}

.options {
  margin: 15px 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  float: right;
}

.option {
  margin-bottom: 10px;
}

button {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  
}

.password {
  margin-top: 20px;
  font-size: 18px;
  font-weight: bold;
}
